.main {
  &__other-title {
    color: rgba(19, 85, 130, 1);
    font-size: 1.5rem;
    line-height: 1.8125rem;
    padding: 1rem 0 0.5rem 1rem;
    margin: 0;
  }

  &__container-other {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 1.15rem;
  }

  &__container-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(217, 217, 217);
    border-radius: 0.75rem;
    width: 2.75rem;
    height: 2.75rem;
  }

  &__container-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 72%;
  }

  &__container-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    border: 0.0625rem solid rgba(0, 0, 0, 1);
    border-radius: 50%;
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    width: 21px;
    height: 21px;
    position: absolute;

    &--main {
      top: 244px;
      left: 72px;
    }

    &--coffee {
      top: 491px;
      left: 72px;
    }

    &--boba {
      top: 550px;
      left: 72px;
    }

    &--smoothie {
      top: 612px;
      left: 72px;
    }

    &--drink {
      top: 672px;
      left: 72px;
    }
  }

  &__item {
    font-size: 1.5rem;
    margin-left: 0.0625rem;
  }

  &__reward-text {
    &--unselected {
      color: rgba(138, 138, 138, 1);
    }

    &--highlighted {
      font-weight: 600;
    }
  }
}
